{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Company Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>{{stock['symbol']}}</td>
        <td>{{stock['name']}}</td>
        <td>{{stock['price']}}</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
